.service {
  border: 1px solid red;
  text-align: center;
  padding: 20px 10px 10px;
  background-image: url("../../../images/services/services-shape.png");
  border-radius: 10px;
}
.service:hover {
  background-color: #dc3545;
  color: white;
  transition: 0.5s;
}
.service:hover .serviceDesc {
  color: white !important;
  transition: 0.5s;
}
.serviceDesc {
  text-align: justify;
  color: rgb(112, 112, 112);
}
.iconsDiv {
  width: 100%;
  height: 80px;
}
.serviceIcon {
  height: 100%;
}
