.aboutImgDiv {
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
}
.aboutImgDiv > img {
  width: 100%;
}
.aboutCard {
  border-radius: 15px;
}
.aboutCard:hover {
  box-shadow: 0 0 8px rgb(218, 216, 216);
}
.aboutImage:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.aboutImage {
  transition: 0.5s;
}
