/* .chefDiv {
} */
.chefs-main-Container {
  margin-top: 90px;
  margin-bottom: 70px;
}
.chefImgDiv > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.5s;
}
.chefImage {
  width: 100%;
}
.chefImgDiv {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.chefCardMiddle {
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 0%;
  background-color: rgba(16, 15, 63, 0.637);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.6s;
}
.iconDiv {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  background-color: #d32637;
  color: white;
  transition: 0.6s;
}

.iconDiv:hover {
  background-color: white;
  border: #d32637;
  color: #d32637;
  border: 1px solid #d32637;
  transition: 0.6s;
}
.chefImgDiv > img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.chefImgDiv:hover .chefCardMiddle {
  height: 25%;
  bottom: 0;
  transition: 0.6s;
}
